@import 'quills'

@font-face 
  font-family 'BebasNeue'
  src url("../fonts/BebasNeue.otf")
  font-weight normal
  font-style normal

main
  user-select           none
  -ms-user-select       none
  -moz-user-select      none
  -khtml-user-select    none
  -webkit-user-select   none
  -webkit-touch-callout none
  

//////////////////////
// COLORS PALETTE  //

$primary         = #0293FF
$primary-dark    = #0293FF - 25%
$primary-light   = #0293FF + 65%
$text            = #f
$primary-text    = #3
$secundary-text  = #72
$disable-text    = #9e
$accent          = #FF5252
$blue-grey       = #eceff1 
$base            = #f0

palette = {
  "primary":         $primary,
  "primary-dark":    $primary-dark,
  "primary-light":   $primary-light,
  "text":            $text,
  "primary-text":    $primary-text,
  "secundary-text":  $secundary-text,
  "disable-text":    $disable-text,
  "accent":          $accent,
  "blue-grey":       $blue-grey,
  "base":            $base
}

//  GENERA CLASES DE COLOR Y BACKGROUND DE LA PALETA
color-class(palette)

// COLORS PALETTE  //
////////////////////



//////////////////////
//  GLOBLAL STYLES  //

html, body
  size     100%
  margin   0
  padding  0
  position relative
  //overflow hidden
  bg $base
  z-index 0
  
.main-container
  size     100%
  margin   0
  z-index  0
  padding  0
  position relative
  
.browser-upgrade
  bg         $blue-grey
  width      75%
  margin     25px auto 0px
  padding    0 25px
  text-align center
  
@keyframes aniRot
  from { transform: rotate(0deg);   }
  to   { transform: rotate(360deg); }
  
.rotater
  animation aniRot 5s linear infinite
  
.logo
  bg "../images/logo.png" no-repeat center contain
  margin 0 auto
  z-index 1
  &.tiny
    size 45px 
  &.small
    size 75px 
  &.medium
    size 120px 
   &.large
    size 150px
  
//  GLOBASL STYLES  //
/////////////////////



///////////////////////
//  HELPERS STYLES  // 
.full
  size 100%
.full-x
  width 100%
.full-y
  height 100%
.z-index-2
  z-index 2
.over-hidden
  overflow hidden
//  HELPERS STYLES  // 
/////////////////////



//////////////////////  
//  BUILDING PAGE  //

.building-wrapper
  size 100%

.building-bg
  bg              "../images/building.png" bottom no-repeat
  z-index         -1
  opacity         .5
  absolute        top 25% bottom right 25px left 25px
  background-size contain
  
.building-title
  width 100%
  text-align center
  i
    color $secundary-text
    long-shadow($secundary-text ,3,)
  h1
    color $primary
    font-family "BebasNeue", sans-serif
    font-size 72px
    font-weight normal
    long-shadow($primary-dark ,5,)
    div
      line-height 1
      display inline-block
      padding 5px 0
    
//  BUILDING PAGE  //
////////////////////  



////////////////
//  NAV BAR  //

$nav-size        = 50px
$nav-header-size = 280px

z-depth-1        = 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)

header.nav-bar
  fixed top left right
  height $nav-size
  z-index 9999
  box-shadow z-depth-1
  bg $primary
    
.nav-head
  size auto 100%
  line-height $nav-size
  .nav-logo
    size         75px
    margin-top   7px
    margin-left  15px
  .nav-title
    color    $base
    height   100%
    overflow-x hidden
    padding-right 25px
    long-shadow($primary, 35)
    position relative
    h2
      margin 0
      font-size 32px
      font-weight 400
      text-transform uppercase
      font-style italic  
      margin-right 15px
      line-height $nav-size
    span
      font-size 32px
      font-weight 700
      font-style italic 
      line-height $nav-size  
    
.nav-content
  bg none
  size auto 100%
  line-height $nav-size  
  margin-left $nav-header-size
  box-shadow none
  overflow hidden
  .nav-list
    line-height $nav-size  
    height 100%
    li a
      line-height $nav-size + 1px
      text-transform uppercase
      font-weight 500
      &.active
        bg $primary-dark
      
.margin-nav
  margin-top $nav-size
.padding-nav
  padding-top $nav-size
  
//  NAV BAR  //
//////////////



///////////////
//  INICIO  //

.inicio
  bg             $base
  overflow       auto
  position       relative
  box-shadow     0 -5px 10px rgba(black, .15)
.primero
  bg $primary  
.sistema
  h4
    color          $text
    text-align     right
    font-weight    700
    text-transform uppercase
    text-shadow 3px 3px 2px rgba(black, 0.10)
  p
    text-indent 10px
    text-align  justify
    color       $text
    font-size 25px
    padding 10px
     
.estudiante-coordinador
   
  color $primary-text
  overflow auto
  bg $base
 
      
  h3
    text-indent 0
    padding       5px
    text-indent   10px
    border-bottom 4px solid $accent
    text-align center
  p
    font-size   16px
    text-align  justify
    text-indent 25px
    
.organiza
  color $primary-text
  overflow auto
  bg $base
     
  h3
    text-indent 0
    padding       5px
    text-indent   10px
    border-bottom 4px solid $accent
    text-align center
  p
    font-size   16px
    text-align  justify
    text-indent 25px 
  
.atencion
  bg       $accent
  overflow  inherit
  h3
    text-align   center
    color        #fff
    padding 12px
    text-transform uppercase
    text-shadow 3px 3px 2px rgba(black, 0.25)
    
.mov
  @keyframes bg-move 
    from{ background-position: 0px; }
    to{ background-position: 800px; }
    
  bg "../images/m.jpg" repeat-x
  height 300px
  background-color red
  background-repeat repeat-x
  background-size auto 100%
  animation bg-move 50s linear infinite
  background-color #fff
  opacity 0.5


.nuestras
    bg  $primary
    font-style italic
    text-align center
    overflow inherit
    color $text
    
.app
  color $primary-text
  overflow auto
  bg $base
  
  h4 
    text-indent 0
    padding       5px
    text-indent   10px
    border-bottom 4px solid $accent
    text-align center
  p
     font-size   16px
    text-align  justify
    text-indent 25px 
    
//  INICIO  //
/////////////    


//////////////////
//  FORMULARIO //  

.form-bg
  bg "../images/bg.jpg" center cover no-repeat
  
.form-logo-container
  width     50%
  margin    0 auto
  padding   25px
  position  relative
  max-width 400px
  min-width 300px
  
.form-logo
  bg "../images/logo.png" center contain no-repeat
  size          100px
  absolute      top -50px right 50%
  transform     translatex(50%)

.formulario
  text-align center
  margin-top 35px
      
.form-title
  color       $secundary-text
  text-align  center
  long-shadow $secundary-text, 1
    
.form-field 
  input[type=text]:focus + label 
  input[type=email]:focus + label 
  input[type=password]:focus + label 
    color $primary
  input[type=text]:focus 
  input[type=email]:focus 
  input[type=password]:focus 
    box-shadow    0 1px 0 0 $primary;
    border-bottom 1px solid $primary;
  button
    bg            $primary
    margin-bottom 10px
    &:hover
      bg $primary - 25%

  .select-wrapper
    ul
      li
        &.disabled
          background-color $blue-grey !important
          span
            color $disable-text !important
        &.active
          background $primary 
          span
            color       $text
            text-indent 10px
          &:hover
            background $primary 
            span
              color       $text
              text-indent 10px
        &:hover
          bg $blue-grey
        span
          color $primary
    i.mdi-navigation-arrow-drop-down
    input.select-dropdown
      color       $disable-text
      text-indent 10px
      
.form-link
  color      $accent
  font-size  18px
  transition color 0.25s
  &:hover
    color $accent - 25%

//  FORMULARIO //
//////////////// 



////////////////
//  NOSOTROS //

.page-container
  position relative
  width 100%
  overflow-x hidden

.quienes-somos
  bg             $primary
  overflow       auto
  position       relative
  box-shadow     0 -5px 10px rgba(black, .15)
  h2
    color          $text
    text-align     center
    font-weight    700
    text-transform uppercase
    text-shadow 3px 3px 2px rgba(black, 0.25)
  p
    text-indent 25px
    text-align  justify
    color       $primary-light
    font-size 16px

.coor-bg
  bg "../images/coor.png" left center no-repeat
  background-size 50% auto
  height 300px
  opacity .5
  z-index -0
      
.obj-mision-vision
  color $primary-text
  overflow auto
  bg $base
  .center-align
    h3
      text-indent 0
  h3
    padding       5px
    text-indent   10px
    border-bottom 4px solid $accent
  p
    font-size   16px
    text-align  justify
    text-indent 25px
    
.valores
  bg             $accent
  color          $text
  z-index        -1
  overflow       auto
  position       relative
  padding-bottom 50px
  h3
    text-align     center
    text-transform uppercase
    text-shadow 3px 3px 2px rgba(black, 0.25)
  ul
    border-radius 2px
    max-width 768px
    margin-left auto
    margin-right auto
    li
      color   $primary-text
      padding 15px 20px
      i 
        color   $secundary-text
        padding-right 10px
        font-size 38px
        vertical-align middle
      &:nth-child(odd) 
        bg $base
      &:nth-child(even) 
        bg $base - 10%
      span
        font-size   18px
        font-weight 500
        vertical-align middle
  
//  NOSOTROS //
//////////////



.stellax-container
  position relative
  height 500px
  &.first
    height 500px + $nav-size
  
.stellax-hero
  size 100%
  bg cover center no-repeat
  position relative
  z-index -1
  top 0
  
  

////////////
//  APP  //

main
  size 100%
  position relative
  
// SIDE BAR  //
$side-bar-size = 235px
.side-bar
  absolute right 15px bottom 15px
  top $nav-size + 15px
  width $side-bar-size
  bg #f
  overflow hidden
  .side-bar-form
    padding 5px 15px
    input[type=text]:focus + label 
      color $primary
    input[type=text]:focus 
      box-shadow    0 1px 0 0 $primary;
      border-bottom 1px solid $primary;
    button
      bg            $primary
      margin-bottom 10px
      &:hover
        bg $primary - 25%
    .input-field
      display inline-block
      &.le
        width 80%
      &.in
        width 18%
        
.materias
  position absolute
  margin 0
  top      65px
  bottom   45px
  overflow auto
  border-left none
  border-right none
  border-top 1px solid $primary-dark
  //border-bottom 1px solid $primary-dark
  .collapsible-header
    border-bottom 1px solid $primary-light
    font-weight 500
    
.secciones
  margin 0
  border none
  border-radius 0
  .collection-item
    bg $blue-grey
    border-bottom 1px solid $secundary-text + 25%

.remove-trash
  absolute bottom 0
  width 100%
  height 45px
  bg $accent
  font-size 45px
  line-height 45px
  text-align center
  color $text
// SIDE BAR  //


//  PARRILLA  //
#parrilla
  absolute left 15px bottom 15px
  right $side-bar-size + 30px
  top $nav-size + 15px
  bg #fff //"../images/parrilla.jpg" left top cover no-repeat
  overflow hidden
  
#horas-header
  width   120px 
  margin  0
  padding 0
  border-right 1px solid rgba($secundary-text, 0.25)
  ul
    margin  0
    padding 0
    li
      padding     5px
      text-align  center
      line-height 1.5
      height 32px
      &:nth-child(odd)
        bg $text
      &:nth-child(even)
        bg $base
        
.horas-wrapper
  position relative
  border-right 1px solid rgba( $secundary-text, 0.25)
  ul
    margin  0
    padding 0
    absolute top bottom right left
//  PARRILLA  //

//  APP  //
//////////